/*
 * Bryce Mitchell
 * Visual styling sheet.
 */
body {
    background-color: #fdfdfd;
    color: #222;
    line-height: 1.5em;
    font-family: sans-serif;
    text-align: justify;
}
.main-footer {
    line-height: 0.5em;
    color: #777;
    font-size: small;
}
pre, blockquote { 
    line-height: 1.5em;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
nav .icon {
    border: none;
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
}
hr { 
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    margin: 2em 0;
}
.banner {
    margin: 1.3em 0em;
}
.banner .title {
    margin: 0.3em 0em;
}
.banner .subtitle {
    color: #777;
    margin: 0;
}
h1,h2,h3,h4,h5,h6 {
    color: #444;
    font-weight: normal;
}
h1 { font-size: 2em; }
h2 { font-size: 1.5em; }
h3 { font-size: 1.17em; }
h4 { font-size: 1.12em; }
h5 { font-size: .83em; }
h6 { font-size: .75em; }
.post-date {
}
