body { 
    background-color: #88b;
    font-family: sans-serif; 
    margin: 0; 
    padding: 0; 
}
.icon {
    width: 1.2em;
    height: 1.2em;
}
.block {  
    margin: 0 auto; 
    max-width: 35em; 
    padding: 0 1em; 
}
.menu { 
    overflow: hidden; 
    padding-top: 0.5em; 
}
.menu li { 
    list-style-type: none;
    padding-right: 1em;
    float: left; 
}
.menu img { 
    width: 1.1em;
    height: 1.1em; 
}
.menu a { 
    color: #fff;
    text-decoration: none;
}
.menu a:hover { 
    color: #222;
}
.banner { 
    color: #fff; 
    background-color: #88b; 
    overflow: hidden;
    padding-top: 2em;
}
#page-header { 
    color: #fff;
    background-color: #88b; 
}
#page-header svg {
    fill: #fff;
}
#page-body {
    background-color: #fff;
    padding-top: 1em;
    padding-bottom: 1em;
    min-height: 20em;
}
#page-body li { 
    list-style-type: square; 
}
#page-body img { 
    margin: 1em;
    float: right; 
    max-width: 20em; 
}
#page-body hr { 
    border: none;
    border-bottom: 0.1em dashed #888;
    margin: 2em; 
}
#page-body pre, code, blockquote { 
    padding: 1em;
    line-height: 1.5em;
    background-color: #eef;
    clear: both; 
}
#page-footer { 
    color: #fff; 
    background-color: #88b; 
    overflow: hidden; 
}
#page-footer h1, h2, h3, h4, h5, h6, p { 
    margin: 0.5 auto; 
}
